{
    "Adjustor M": 8,
    "Adjustor S": 16,
    "Cockpit Controller": 1,
    "Dynamic Core XS": 1,
    "Cannon XS": 4,
    "Fuel Intake XS": 2,
    "Retro-Rocket Brake M": 1,
    "Ammo Container XS": 1,
    "Space Engine M": 4,
    "Space Engine XS": 10,
    "Space Fuel-Tank S": 4,
    "Space Radar S": 1,
    "Vertical Booster S": 4
}